* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

nav {
	position: fixed;
	display: flex;
	align-items: center;
	justify-content: space-between;
	width: 100vw;
	height: 10vh;
	background-color: black;
	z-index: 100;
}

.navigation-list {
	position: relative;
	padding: 15px;
	display: flex;
	justify-content: flex-end;
	width: 70%;
}

#search-nav {
	margin: 10px;
	list-style: none;
	cursor: pointer;
	font-size: 1.25rem;
}

input {
	padding: 8px 6px 8px 10px;
	border-radius: 4px;
	outline: none;
	border: 1px solid #ccc;
	align-self: center;
	height: 30px;
}

nav .logo {
	color: white;
	letter-spacing: 4px;
	font-size: 1.75rem;
	padding: 15px;
}

.container {
	padding-top: 15vh;
	margin-left: 30px;
	margin-right: 30px;
	display: grid;
	grid-template-columns: 1fr;
}

.number-of-events {
	padding: 20px;
	margin: 5px;
	grid-column: 0 / span 2;
}

.eventList {
	margin-top: 20px;
	grid-row: 2 / auto;
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-gap: 20px;
}

.eventList li {
	list-style: none;
}

.event {
	padding: 20px;
	margin: 5px;
	border: 1px solid black;
	grid-column: 0 / 1;
}

.suggestions {
	width: 150px;
	position: absolute;
	z-index: 2;
	align-self: center;
	margin-top: 15px;
	top: 43px;
	font-size: 14px;
	box-shadow: 10px 10px 16px -12px rgba(0, 0, 0, 0.75);
}

.suggestions > li {
	list-style: none;
	text-align: left;
	padding: 8px 6px 8px 10px;
	background-color: #eee;
	cursor: pointer;
}

.suggestions > li:last-child {
	border-bottom-left-radius: 4px;
	border-bottom-right-radius: 4px;
}

.suggestions > li:hover {
	background-color: #bcdcdb;
}

@media screen and (max-width: 768px) {
	.navigation-list {
		width: 50%;
	}
	.eventList {
		grid-template-columns: 1fr;
	}
}
