* {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}

h2 {
	font-family: 'Anonymous Pro', monospace;
}

nav {
	position: fixed;
	display: flex;
	align-items: center;
	justify-content: flex-start;
	width: 100vw;
	height: 5vh;
	background-color: black;
	z-index: 100;
}

.navigation-list {
	position: relative;
	display: flex;
	justify-content: flex-start;
	width: 50%;
}

.navigation-list li {
	list-style: none;
	cursor: pointer;
	padding: 8px;
	font-size: 1.25rem;
	color: white;
}

nav .logo {
	color: white;
	letter-spacing: 4px;
	padding: 8px;
	font-family: 'Anonymous Pro', monospace;
}

.container {
	padding-top: 60px;
	margin-left: 30px;
	margin-right: 30px;
}

.CitySearch {
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 10px;
}

.NumberOfEvents {
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 10px;
}

input {
	border: none;
	font-size: 1.25rem;
	margin-top: 10px;
	margin-bottom: 10px;
	border-bottom: 1px solid black;
	width: 150px;
}

.suggestions {
	position: relative;
	z-index: 3;
	padding: 0;
	width: 150px;
	box-shadow: 10px 10px 16px -12px rgba(0, 0, 0, 0.75);
}

.suggestions li {
	padding: 8px 6px 8px 10px;
	background-color: #eee;
	cursor: pointer;
	list-style: none;
}

.suggestions li:hover {
	background-color: rosybrown;
	color: white;
}

.eventList {
	display: grid;
	list-style: none;
	padding: 0;
	grid-template-columns: 1fr;
	grid-gap: 30px;
}

.event {
	background-color: #eee;
	border: 1px dashed black;
	grid-column: 0 / span 1;
	padding: 15px;
}

.date-time,
.location {
	margin-top: 7px;
	margin-bottom: 7px;
}

.details-btn {
	cursor: pointer;
	border: none;
	background-color: black;
	color: white;
	padding: 5px;
	margin-top: 10px;
}

.details-btn:hover {
	background-color: rosybrown;
}

.event__Details {
	margin-top: 10px;
}

@media screen and (min-width: 768px) {
	.navigation-list {
		width: 50%;
	}
	.eventList {
		grid-template-columns: 1fr 1fr;
	}
}
